/*=======Breadcrumbs======*/
.breadcrumbs {
	display: flex;
	margin-bottom: 65px;
	&__item {
		font-family: $ff;
		font-size: 13px;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.3);
		letter-spacing: -0.02em;
		padding-right: 10px;
		margin-right: 10px;
		position: relative;
		&:after {
			content: "";
			width: 1px;
			height: 10px;
			background: #C4C4C4;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}
		&:last-child {
			margin-right: 0;
			padding-right: 0;
			&:after {
				display: none;
			}
		}
	}
}
/*=======/breadcrumbs======*/

/*======Comments=====*/
.comments {
	&__none {
		font-family: $ff;
		font-size: 19px;
		font-weight: 500;
		line-height: 1.2;
		color: $bl;
		margin-bottom: 40px;
	}
	&__list {
		margin-bottom: 20px;
		display: none;
	}
	&-item {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 30px;
		&_sub {
			padding-left: 55px;
		}
		&__icon {
			width: 40px;
			height: 40px;
			flex: 0 0 40px;
			border-radius: 50%;
			margin-right: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			span {
				font-family: $ff;
				font-size: 23px;
				font-weight: 500;
				text-transform: uppercase;
			}
			&_pink {
				background-color: #FFE6F2;
				span {
					color: #F7B3D5;
				}
			}
			&_purple {
				background-color: #DBDBFB;
				span {
					color: #A5A6F6;
				}
			}
		}
		&__name {
			font-family: $ff;
			font-size: 15px;
			font-weight: 600;
			line-height: 1, 5;
			color: $bl;
			margin-bottom: 5px;
			padding-top: 4px;
		}
		&__text {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $grafit;
			line-height: 1.5;
			margin-bottom: 10px;
		}
		&__btn {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $lgray;
			line-height: 1.5;
		}
	}/*===/comments-item===*/
	&-response {
		margin-bottom: 25px;
		display: none;
		&__inner {
			display: flex;
		}
		&__icon {
			flex: 0 0 50px;
			a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 24px;
				height: 24px;
				svg {
					width: 62%;
					height: 60%;
					stroke: $blue;
					transform: scale(-1, 1);
				}
			}
		}
		&__info {
			flex: 1 1 auto;
			padding-left: 15px;
			border-left: 1px solid $blue;
		}
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__close {
			display: inline-block;
			svg {
				width: 11px;
				height: 11px;
				stroke: $blue;
				transition: all .2s linear;
			}
			&:hover {
				svg {
					stroke: $red;
				}
			}
		}
		&__title {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			line-height: 1.5;
			color: $blue;
			margin-bottom: 5px;
		}
		&__text {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			line-height: 1.5;
			color: $bl;
		}
	}/*===/comments-response===*/
	&-form {
		&__inner {
			display: flex;
			flex-wrap: wrap;
			margin-left: -30px;
			margin-bottom: -20px;
			>* {
				margin-left: 30px;
				margin-bottom: 20px;
			}
		}
		&__textarea {
			width: 100%;
		}
		textarea, input {
			width: 100%;
			height: 100%;
			appearance: none;
			background-color: $gray;
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: #7D7D7D;
			line-height: 1.5;
			&::placeholder {
				opacity: 1;
				color: #7D7D7D;
			}
		}
		textarea {
			min-height: 150px;
			padding: 20px 25px;
			resize: none;
		}
		input {
			padding: 14px 15px;
			border-radius: 4px;
		}
		button {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $wh;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $bl;
			border-radius: 4px;
			width: 100%;
			height: 100%;
			padding: 14px 20px;
			img {
				margin-right: 11px;
			}
		}
		&__input {
			flex: 1 1 auto;
		}
		&__btn {
			flex: 0 0 214px;
		}
	}/*===/comments-form===*/
}
/*======/comments=====*/

/*=====Data-nav====*/
.data-nav {
	&__inner {
		display: flex;
		align-items: center;
	}
	&__arrow {
		svg {
			width: 40px;
			height: 13px;
			fill: $bl;
			transition: all .2s linear;
		}
		&_prev {
			svg {
				transform: rotate(180deg);
			}
		}
		&:hover {
			svg {
				fill: $red;
			}
		}
	}
	&__box {
		padding: 0 20px;
		position: relative;
		padding-bottom: 5px;
	}
	&__choice {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.3;
		cursor: pointer;
			svg {
				width: 12px;
				height: 7px;
				fill: $bl;
				vertical-align: middle;
				margin-left: 3px;
				transition: all .3s linear;
			}
			&.drop {
				svg {
					transform: rotate(180deg);
				}
			}
	}
	&__dropdown {
		display: none;
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 50;
		background-color: $wh;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
		max-height: 200px;
		overflow: auto;
		&-inner {
			padding: 15px 20px;
		}
		li {
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__link {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.3;
		transition: all .2s linear;
		&:hover {
			color: $red;

		}
		&.active {
			color: $red;
			text-decoration: underline;
		}
	}
	*, html * 
	{
	  scrollbar-width: thin;
	  scrollbar-color: #B3B3B3 #ECECEC;
	}
	
	*::-webkit-scrollbar,
	html *::-webkit-scrollbar {
	  height: 21px;
	  width: 3px;
	}
	*::-webkit-scrollbar-track,
	html *::-webkit-scrollbar-track {
	  background: #ECECEC;
	}
	*::-webkit-scrollbar-thumb,
	html *::-webkit-scrollbar-thumb {
	  background-color: #B3B3B3;
	  border: 3px solid #B3B3B3;
	}
}
/*=====/data-nav====*/

/*=======Pagin========*/
.pagin {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		>* {
			flex: 0 0 33.33333%;
		}
	}
	&-box {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		&__arrow {
			svg {
				width: 34px;
				height: 11px;
				fill: #636463;
				transition: all .2s linear;
			}
			&_prev {
				svg {
					transform: rotate(180deg);
				}
			}
			&:hover {
				svg {
					fill: $red;
				}
			}
		}
		&__numbers {
			margin: 0 20px;
		}
		&__number {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: #9E9F9E;
			margin-right: 20px;
			transition: all .2s linear;
			&.active {
				color: #636463;
			}
			&:hover {
				color: $red;
			}
		}
		&__more {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: #9E9F9E;
			margin-right: 20px;
			transition: all .2s linear;
			&:hover {
				color: $red;
			}
		}
	}
}
/*=======/pagin========*/

/*======Filters====*/
.filters {
	display: flex;
	&__items {
		display: flex;
		flex-wrap: wrap;
	}
	&__description {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.2;
		margin-right: 25px;
		white-space: nowrap;
	}
	&__item {
		display: flex;
		align-items: center;
		margin-right: 25px;
		margin-bottom: 10px;
		&:last-child {
			margin-right: 0;
		}
		svg {
			width: 12px;
			height: 16px;
			fill: $bl;
			transition: all .2s linear;
		}
		span {
			margin-left: 8px;
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $bl;
			line-height: 1.2;
		}
		&:hover {
			svg {
				fill: $red;
			}
			span {
				color: $red;
			}
		}
		&.active {
			svg {
				fill: $red;
				transform: rotate(180deg);
			}
			span {
				color: $red;
			}
		}
	}
	&-block {
		margin-bottom: 20px;
	}
}
/*======/filters====*/

.links-row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	a {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
}

/*=====Page========*/
.page {
	&_raj {
		.breadcrumbs {
			margin-bottom: 30px;
		}
	}
	&__header {
		margin-top: 5px;
		&_mb-50 {
			margin-bottom: 50px;
		}
	}
	&__title {
		font-family: $ff;
		font-size: 45px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		&_line {
			padding-bottom: 30px;
			border-bottom: 1px solid $lgray;
			margin-bottom: 30px;
		}
		&_mb-0 {
			margin-bottom: 0;
		}
	}
	&-nav {
		margin: 30px 0 50px;
		&__row {
			display: flex;
			&:first-child {
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid $lgray;
			}
		}
		&__title-mobile {
			display: none;
		}
		&__item {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $bl;
			line-height: 1.3;
			margin-right: 30px;
			transition: all .2s linear;
			&:hover {
				color: $red;
			}
			&:last-child {
				margin-right: 0;
			}
			&.active {
				color: $red;
			}
		}
	}
	&-info {
		&_flex {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			.page__social {
				flex: 1 1 auto;
				margin-left: 75px;
			}
		}
		&__title {
			font-family: $ff;
			font-size: 23px;
			font-weight: 500;
			color: $bl;
			line-height: 1.2;
			margin-bottom: 30px;
		}
		&__text {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $bl;
			line-height: 1.5;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			&-more {
				display: none;
				&_line {
					visibility: hidden;
					&.show {
						visibility: visible;
					}
				}
			}
		}
		&__more {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $red;
			line-height: 1.2;
			cursor: pointer;
			svg {
				width: 12px;
				height: 7px;
				fill: $red;
				vertical-align: middle;
				margin-left: 3px;
				transition: all .3s linear;
			}
			&.drop {
				svg {
					transform: rotate(180deg);
				}
			}
		}
		&__links {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.page-search {
	margin-bottom: 30px;
	&__description {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.3;
		margin-bottom: 10px;
	}
	&__box {
		position: relative;
	}
	input {
		width: 100%;
		height: 100%;
		background-color: $gray;
		padding: 16px 40px 16px 16px;
		border-radius: 4px;
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.3;
		&::placeholder {
			opacity: 1;
			color: $lgray;
		}
	}
	button {
		background-color: inherit;
		position: absolute;
		right: 14px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		svg {
			width: 18px;
			height: 18px;
			fill: $bl;
			transition: all .2s linear;
		}
		&:hover {
			svg {
				fill: $red;
			}
		}
	}
}
/*=====/page========*/


/*=====Article=====*/
.article {
	&__title {
		font-family: $ff;
		font-size: 45px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
	}
	&__inner {
		display: flex;
		&_end {
			justify-content: flex-end;
		}
	}
	&__data {
		width: 13%;
		.events-box__datablock {
			width: 100%;
		}
		.events-box__time {
			font-size: 19px;
		}
		.events-box__place {
			font-size: 19px;
		}
	}
	&__autor {
		width: 13%;
	}
	&__social {
		width: 11%;
	}
	&__content {
		width: 76%;
		padding: 0 74px 0 66px;
	}
	&__subtitle {
		font-family: $ff;
		font-size: 23px;
		font-weight: 500;
		color: $bl;
		line-height: 1.3;
		margin-bottom: 30px;
		&_mb-50 {
			margin-bottom: 50px;
		}
	}
	&__photo {
		margin-bottom: 50px;
		img {
			width: 100%;
			object-fit: cover;
		}
		&-description {
			margin-top: 15px;
			font-family: $ff;
			font-size: 12px;
			font-weight: 400;
			color: $grafit;
			line-height: 1.2;
		}
	}
	&__text {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.5;
		p {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&_p-15 {
			p {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&_indent {
			font-style: italic;
			color: $grafit;
			border-left: 1px solid $red;
			padding-left: 30px;
			margin-left: 28px;
		}
		&_list {
			li {
				padding-left: 22px;
				position: relative;
				&:before {
					content: "";
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: $bl;
					position: absolute;
					left: 8px;
					top: 9px;
					z-index: 1;
				}
				&:first-child {
					padding-left: 0;
					&:before {
						display: none;
					}
				}
			}
		}
	}
	&__btn {
		margin: 20px 0 120px;
		.btn {
			min-width: 240px;
		}
	}
	&-works {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__item {
			margin-bottom: 50px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__title {
			font-family: $ff;
			font-size: 19px;
			font-weight: 500;
			color: $bl;
			line-height: 1.2;
			margin-bottom: 25px;
		}
		&__text {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $bl;
			line-height: 1.5;
			p {
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__autor {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			font-style: italic;
			line-height: 1.5;
			color: #7D7D7D;
		}
	}
}/*=====/article====*/

.article-header {
	display: flex;
	align-items: flex-end;
	margin-bottom: 80px;
	&__meta {
		flex: 1 1 auto;
		white-space: nowrap;
		font-family: $ff;
		font-size: 12px;
		font-weight: 400;
		color: #7D7D7D;
		line-height: 1.2;
		display: flex;
		align-items: center;
		margin-left: 30px;
		>* {
			position: relative;
			margin-right: 7px;
			padding-right: 12px;
			&:after {
				content: "";
				width: 5px;
				height: 5px;
				background-color: #7D7D7D;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				z-index: 1;
			}
			&:last-child {
				margin-right: 0;
				padding-right: 0;
				&:after {
					display: none;
				}
			}
		}
	}
}

.article-box {
	padding-bottom: 50px;
	border-bottom: 1px solid $lgray;
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	&_service {
		.article-box__photo {
			width: calc(33% - 30px);
		}
		.article-box__info {
			width: calc(67% - 30px);
		}
	}
	&_head {
		margin-bottom: 80px;
		.article-box__title {
			font-size: 45px;
			margin-bottom: 30px;
		}
		.article-box__text {
			p {
				margin-bottom: 15px;
			}
		}
	}
	&__inner {
		display: flex;
		margin-left: -30px;
		>* {
			width: calc(50% - 30px);
			margin-left: 30px;
		}
	}
	&__photo {
		display: block;
		img {
			width: 100%;
			max-height: 420px;
			object-fit: cover;
		}
	}
	&__data {
		font-family: $ff;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.2;
		color: #7D7D7D;
		margin-bottom: 30px;
	}
	&__meta {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		>* {
			position: relative;
			margin-right: 7px;
			padding-right: 12px;
			&:after {
				content: "";
				width: 5px;
				height: 5px;
				background-color: $grafit;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				z-index: 1;
			}
			&:last-child {
				margin-right: 0;
				padding-right: 0;
				&:after {
					display: none;
				}
			}
		}
		span {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $grafit;
			line-height: 1.3;
		}
	}
	&__time {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $grafit;
		line-height: 1.2;
	}
	&__term {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		img {
			width: 22px;
			height: 22px;
			margin-right: 8px;
		}
		span {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $bl;
			line-height: 1.2;
		}
	}
	&__title {
		font-family: $ff;
		font-size: 23px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: $bl;
			transition: all .2s linear;
			&:hover {
				color: $red;
			}
		}
	}
	&__subtitle {
		font-family: $ff;
		font-size: 19px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 10px;
	}
	&__text {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $grafit;
		line-height: 1.5;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		span {
			font-weight: 500;
		}
		p {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.btn {
			&:before {
				background: url("../images/encircle-decor2.svg") center no-repeat;
    			background-size: contain;
			}
			&_medium {
				&:before {
					background: url("../images/encircle-decor_medium.svg") center no-repeat;
    				background-size: contain;
				}
			}
			&_small {
				&:before {
					background: url("../images/encircle-decor_small.svg") center no-repeat;
    				background-size: contain;
				}
			}
		}
		&-details {
			display: none;
		}
	}
	&__link {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.5;
		color: $red;
		text-decoration: underline;
		transition: all .2s linear;
	}
	&__result {
		font-family: $ff;
		font-size: 15px;
		font-weight: 500;
		color: $red;
		line-height: 1.5;
	}
	&__links {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__details {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.2;
		cursor: pointer;
		span {
			vertical-align: middle;
		}
		svg {
			width: 12px;
			height: 7px;
			fill: $bl;
			vertical-align: middle;
			margin-left: 3px;
			transition: all .4s linear;
		}
		&.drop {
			svg {
				transform: rotate(180deg);
			}
		}
		&_grafit {
			color: $grafit;
			svg {
				fill: $grafit;
			}
		}
	}
	&__btn {
		margin-top: 30px;
		.btn_medium {
			min-width: 270px;
		}
	}
	.links-row {
		a {
			margin-right: 15px;
		}
	}
}/*====/article-box===*/

.article-autor {
	display: flex;
	align-items: center;
	img {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin-right: 10px;
	}
	span {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $grafit;
		line-height: 1.2;
	}
}/*====/article-autor===*/

.article-stat {
	display: flex;
	align-items: center;
	&__item {
		margin-right: 10px;
		display: flex;
		align-items: center;
		&:last-child {
			margin-right: 0;
		}
		&_view {
			.article-stat__icon {
				width: 20px;
				height: 16px;
				position: relative;
				transition: all .2s linear;
				&:before {
					content: "";
					width: 20px;
					height: 16px;
					background: url("../images/eye_red.svg") center no-repeat;
					background-size: contain;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					opacity: 0;
					transition: all .2s linear;
				}
			}
			&:hover {
				.article-stat__icon {
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
	&__icon {
		margin-right: 8px;
		svg {
			margin-top: 4px;
			stroke: $grafit;
			width: 17px;
			height: 14.5px;
			transition: all .2s linear;
		}
	}
	&__info {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $grafit;
		transition: all .2s linear;
	}
}
a.article-stat__item:hover {
	.article-stat__icon {
		svg {
			stroke: $red;
		}
	}
	.article-stat__info {
		color: $red;
	}
}/*======/article-stat====*/

.article-popular {
	&__inner {
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-bottom: -30px;
		>* {
			width: calc(25% - 30px);
			margin-left: 30px;
			margin-bottom: 30px;
		}
	}
	.article-box__title {
		font-size: 19px;
	}
}/*=======/article-popular===*/

.article-raj {
	.article__subtitle {
		margin-top: 30px;
		max-width: 900px;
	}
	.social {
		justify-content: flex-end;
	}

}/*===/article-raj===*/

.article-about {
	margin-bottom: 30px;
	&__slider {
		display: flex;
		margin-left: -30px;
	}
	&__slide {
		width: calc(33.33333% - 30px);
		margin-left: 30px;
	}
	.slick-dots {
		button {
			width: 110px;
		}
	}
	&__text {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.5;
	}
}/*===/article-about==*/

.article-reviews {
	&__box {
		padding-bottom: 30px;
		border-bottom: 1px solid $lgray;
		margin-bottom: 30px;
	}
	&__hide {
		display: none;
	}
}/*====/article-reviews===*/

.article-block {
margin-top: 50px;
	&__title {
		font-family: $ff;
		font-weight: 500;
		font-size: 23px;
		color: $bl;
		line-height: 1.5;
		margin-bottom: 20px;
	}
}/*=====/article-block====*/

.article-list {
	&_numbers {
		margin-bottom: 30px;	
		span {
			&:first-child {
				border: 1px solid $bl;
				border-radius: 50%;
				flex: 0 0 24px;
				height: 24px;
				line-height: 24px;
				text-align: center;
			}
		}
	}
	li {
		margin-bottom: 15px;
		display: flex;
		align-items: flex-start;
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.5;
		&:last-child {
			margin-bottom: 0;
		}
		span {
			&:first-child {
				margin-right: 20px;
			}
		}
	}
}

.autor-box {
	padding: 50px 0;
	margin: 50px 0;
	border-top: 1px solid $lgray;
	border-bottom: 1px solid $lgray;
	&_flex {
		display: flex;
	}
	&__photo {
		flex: 0 0 150px;
		margin-right: 30px;
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__title {
		font-family: $ff;
		font-size: 15px;
		font-weight: 600;
		color: $bl;
		line-height: 1.5;
		margin-bottom: 10px;
		&_icon {
			img {
				display: none;
			}
		}
	}
	&__info {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $grafit;
		line-height: 1.5;
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__link {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $grafit;
		line-height: 1.5;
		color: $red;
		text-decoration: underline;
	}
}/*===/autor-box====*/

/*=====/article=====*/

/*=====Useful=====*/
.useful {
	&__title {
		font-family: $ff;
		font-size: 36px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 50px;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-bottom: -50px;
		>* {
			width: calc(25% - 30px);
			margin-left: 30px;
			margin-bottom: 50px;
		}
	}
	&-box {
		&__photo {
			display: block;
			text-align: center;
			margin-bottom: 30px;
			height: 310px;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&_center {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: $wh;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		&__title {
			font-family: $ff;
			font-size: 23px;
			font-weight: 500;
			color: $bl;
			line-height: 1.2;
			margin-bottom: 10px;
			a {
				color: $bl;
				transition: all .2s linear;
				&:hover {
					color: $red;
				}
			}
		}
		&__text {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $grafit;
			line-height: 1.5;
			margin-bottom: 30px;
		}
		&__link {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $grafit;
			line-height: 1.5;
			transition: all .2s linear;
			&:hover {
				color: $red;
			}
		}
	}
}
/*=====/useful=====*/

/*========New=====*/
.new {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-bottom: -28px;
		>* {
			width: calc(25% - 30px);
			margin-left: 30px;
			margin-bottom: 28px;
		}
	}
	&__title {
		font-family: $ff;
		font-size: 19px;
		font-weight: 500;line-height: 1.2;
		color: $bl;
		a {
			color: $bl;
			transition: all .2s linear;
			&:hover {
				color: $red;
			}
		}
	}
	&__tag {
		display: block;
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $grafit;
		line-height: 1.3;
		margin-bottom: 10px;
		transition: all .2s linear;
		&:hover {
			color: $red;
		}
	}
}
/*========/new=====*/

/*========Advertising=======*/
.advertising {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		>* {
			width: calc(33.33333% - 30px);
			margin-left: 30px;
		}
	}
	.service-box {
		height: 100%;
	}
}
/*========/advertising=======*/

/*=======Network=====*/
.network {
	&__inner {
		display: flex;
		margin-left: -30px;
		>* {
			width: calc(33.33333% - 30px);
			margin-left: 30px;
		}
	}
	&__content {
		display: block;
		width: 100%;
		height: 407px;
	}
	&__placeholder {
		background-color: $gray;
		width: 100%;
		height: 100%;
	}
}
/*=======/network=====*/

/*====Want=====*/
.want {
	&__inner {
		display: flex;
		align-items: center;
	}
	&__photo {
		width: 23%;
		text-align: center;
		img {
			width: 100%;
			max-width: 400px;
			object-fit: cover;
		}
	}
	&__info {
		width: 77%;
		padding-left: 30px;
	}
	&__title {
		font-family: $ff;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.2;
		color: $bl;
		margin-bottom: 15px;
	}
	&__text {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.5;
		a {
			color: $red;
		}
	}
}
/*====/want=====*/

/*=========Overview========*/
.overview {
	&__row {
		padding: 50px 0;
		border-bottom: 1px solid $lgray;
		&-content {
			display: flex;
			margin-left: -30px;
			>* {
				width: calc(25% - 30px);
				margin-left: 30px;
			}
		}
		&:first-child {
			padding-top: 0;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__publisher {
		font-family: $ff;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.2;
		color: $grafit;
		margin-bottom: 10px;
	}
	&__title {
		font-family: $ff;
		font-size: 19px;
		font-weight: 500;
		line-height: 1.2;
		color: $bl;
		margin-bottom: 15px;
		display: block;
	}
	&__photo {
		filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
		margin-bottom: 25px;
		display: block;
		text-align: center;
		img {
			width: 100%;
			max-width: 400px;
			@media(min-width: 767px) {
				height: 300px;
			}
			@media(min-width: 1200px) {
				height: 400px;
			}
		}
	}
}

.overview-box {
	position: relative;
	background-color: $wh;
	padding: 100px;
	&__inner {
		display: flex;
	}
	&__photo {
		width: 32%;
		img {
			max-width: 100%;
		}
	}
	&__info {
		width: 68%;
		padding-left: 50px;
	}
	&__title {
		font-family: $ff;
		font-size: 36px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	&__subtitle {
		font-family: $ff;
		font-size: 19px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	&__text {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $grafit;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	&__autor {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.2;
		color: $bl;
		margin-bottom: 20px;
	}
	.btn {
		padding: 30px 64px 25px;
	}
}

/*==================Overview-modal================*/
.overview-modal {
	width: 100%;
	min-height: calc(100% + 70px);
	position: absolute;
	top:0px;
	display: none;
	overflow: auto;
	left:0px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
	padding-bottom: 100px;
	z-index: 1000;
	&.show {
		visibility: visible;
		opacity: 1;
		transition: all 1.7s linear;
	}
	&__close {
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 1000;
		svg {
			width: 11px;
			height: 11px;
			stroke:  $bl;
			transition: all .2s linear;
		}
		&:hover {
			svg {
				stroke: $red;
			}
		}
	}
	&__inner {
		opacity: 1;
		width: 1080px;
		top: 15%;
		padding-bottom: 20px;
		padding-top:20px;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		display: none;
		z-index: 2000;
 	}
	.closex {
		content:"";
		top:0px;
		left:0px;
		width: 100%;
		height: 100%;
		position: fixed;
 		z-index: 2000;
	}
}/*====/overview-modal==*/
/*=========/overview========*/

/*========Bookself=====*/
.bookself {
	&__block {
		padding-bottom: 50px;
		border-bottom: 1px solid $lgray;
		margin-bottom: 50px;
		position: relative;
		padding-left: 100px;
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
		.slick-track {
			margin: 0;
		}
	}
	&__title {
		font-family: $ff;
		font-size: 30px;
		font-weight: 500;
		line-height: 1.2;
		color: $bl;
		transform: rotate(-90deg) ;
		transform-origin: 0 0;
		position: absolute;
		bottom: 55px;
		left: 0;
		z-index: 1;
	}
	&__slider {
		display: flex;
		margin-left: -30px;
		position: relative;
		&:before {
			content: "";
			width: 12px;
			height: 100%;
			background-color: $wh;
			position: absolute;
			top: 0;
			left: -2px;
			z-index: 50;
		}
	}
	&__slide {
		width: calc(25% - 30px);
		margin-left: 30px;
	}
	&-box {
		&__subtext {
			font-family: $ff;
			font-size: 12px;
			font-weight: 400;
			color: $grafit;
			line-height: 1.2;
			margin-bottom: 10px;
		}
		&__name {
			font-family: $ff;
			font-size: 23px;
			font-weight: 500;
			color: $bl;
			line-height: 1.2;
			margin-bottom: 25px;
			min-height: 56px;
		}
		&__photo {
			height: 365px;
			margin-bottom: 25px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: drop-shadow(0px 3.64029px 5.10072px rgba(0, 0, 0, 0.25));
			}
		}
		&__link {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $bl;
			line-height: 1.2;
			transition: all .2s linear;
			&:hover {
				color: $red;
			}
		}
	}
	&__arrow {
		width: 45px;
		height: 45px;
		background-color: #EEEEEE;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all .2s linear;
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 10;
		transform: translate(50%, -50%);
		svg {
			width: 40px;
			height: 13px;
			fill: $grafit;
			transition: all .2s linear;
		}
		&:hover {
			svg {
				fill: $red;
			}
		}
	}
}
/*========/bookself=====*/

/*=========Bookshelf-intro======*/
.bookshelf-intro {
	margin-top: 50px;
	margin-bottom: 100px;
	.slick-dots {
		button {
			width: 78px;
		}
	}
	&__inner {
		position: relative;
	}
	&__arrow {
		position: absolute;
		top: 50%;
		left: -80px;
		z-index: 1;
		transform: translateY(50%);
		width: calc(100% + 160px);
		display: flex;
		justify-content: space-between;
	}
	&__item {
		position: relative;
		padding: 50px 0;
		height: 650px;
	}
	&__photo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__box {
		position: relative;
		z-index: 2;
		background-color: #F1F1F1;
		padding: 50px 40px 30px 50px;
		width: calc(50% - 15px);
		margin-left: auto;
		height: 100%;
	}
	&__title {
		font-family: $ff;
		font-size: 45px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 25px;
	}
	&__description {
		margin-bottom: 30px;
		font-family: $ff;
		font-size: 23px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
	}
}
/*=========/bookshelf-intro======*/

/*=======Story=======*/
.story {
	&__head {
		display: flex;
	}
	&__social {
		width: 30%;
	}
	&__text {
		width: 70%;
		padding-left: 30px;
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.5;
		@media(min-width: 1200px) {
			padding-right: 115px;
		}
	}
	&__box {
		display: flex;
		margin-top: 15px;
		&:first-child {
			margin-top: 0;
		}
	}
	&-teller {
		width: 30%;
		&__name {
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			color: $bl;
			line-height: 1.5;
			margin-bottom: 5px;
		}
		&__about {
			font-family: $ff;
			font-size: 13px;
			font-weight: 400;
			color: #888888;
			line-height: 1.5;
		}
	}
}
/*=======/story=======*/

/*=========Communication======*/
.communication {
	&__title {
		font-family: $ff;
		font-size: 45px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	&__subtitle {
		font-family: $ff;
		font-size: 23px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 30px;
	}
	&__text {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $bl;
		line-height: 1.5;
		margin-bottom: 30px;
		max-width: 700px;
	}
	&__subscribe {
		width: 278px;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
		.subscribe {
			min-width: 278px;
		}
	}
}
/*=========/communication======*/

/*=========About========*/
.about-person {
	&__title {
		font-family: $ff;
		font-size: 45px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
	}
	&__inner {
		margin-top: 100px;
		display: flex;
		flex-wrap: wrap;
		margin-left: -120px;
		margin-bottom: -120px;
		>* {
			margin-left: 120px;
			width: calc(50% - 120px);
			margin-bottom: 120px;
		}
	}
	&__item {
		&_top {
			margin-top: -291px;
		}
		&_bottom {
			padding-bottom: 291px;
		}
	}
	&__photo {
		margin-bottom: 30px;
		img {
			width: 100%;
		}
	}
	&__function {
		font-family: $ff;
		font-size: 19px;
		font-weight: 500;
		color: $grafit;
		line-height: 1.2;
		margin-bottom: 10px;
	}
	&__name {
		font-family: $ff;
		font-size: 23px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	&__description {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		color: $grafit;
		line-height: 1.5;
		a {
			color: $red;
			text-decoration: underline;
			transition: all .2s linear;
		}
	}
}/*====about-person===*/

.about-contact {
	margin-bottom: 50px;
	&__box {
		margin-bottom: 50px;
		display: flex;
		justify-content: space-between;
	}
	&__info {
		margin-right: 30px;
		max-width: 585px;
	}
	&__title {
		font-family: $ff;
		font-size: 30px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	&__subtitle {
		font-family: $ff;
		font-size: 19px;
		font-weight: 500;
		color: #B3B3B3;
		line-height: 1.2;
	}
	&__links {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__link {
		display: block;
		font-family: $ff;
		font-size: 30px;
		font-weight: 500;
		color: $bl;
		line-height: 1.2;
		margin-bottom: 15px;
		transition: all .2s linear;
		&:hover {
			color: $red;
		}
	}
	&__photo {
		width: 100%;
		height: 600px;
		background: url("../images/map.png") center top no-repeat;
	}
}/*====/about-contact===*/

/*=========/about========*/

/*==================Modal================*/
.modal {
	width: 100%;
	min-height: calc(100% + 130px);
	position: absolute;
	top:0px;
	display: none;
	overflow: auto;
	left:0px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
	z-index: 1000;
	&.show {
		visibility: visible;
		opacity: 1;
		transition: all 1.7s linear;
	}
	&__close {
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 110px;
		z-index: 1000;
		svg {
			width: 11px;
			height: 11px;
			stroke:  $bl;
			transition: all .2s linear;
		}
		&:hover {
			svg {
				stroke: $red;
			}
		}
	}
	&__inner {
		opacity: 1;
		width: 1080px;
		top: 0;
		padding-bottom: 130px;
		padding-top:100px;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		display: none;
		z-index: 2000;
 	}
	.closex {
		content:"";
		top:0px;
		left:0px;
		width: 100%;
		height: 100%;
		position: fixed;
 		z-index: 2000;
	}
}/*====/modal==*/

/*======Send=====*/
.send {
	background-color: $wh;
	padding: 40px 100px;
	&__description {
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.2;
		color: $bl;
		margin-bottom: 30px;
		a {
			color: $red;
			transition: all .2s linear;
			text-decoration: underline;
		}
	}
	&-recipient {
		display: flex;
		align-items: center;
		margin: 0 auto;
		max-width: 300px;
		&__photo {
			margin-right: 30px;
			img {
				width: 100px;
				height: 100px;
				object-fit: cover;
			}
		}
		&__name {
			font-family: $ff;
			font-size: 19px;
			font-weight: 500;
			color: $bl;
			line-height: 1.3;
		}
	}
	&-form {
		padding: 30px 100px;
		margin-top: 40px;
		border-top: 1px solid $lgray;
		border-bottom: 1px solid $lgray;
		&__inner {
			display: flex;
			flex-wrap: wrap;
			margin-left: -30px;
			margin-bottom: -30px;
			>* {
				width: calc(50% - 30px);
				margin-left: 30px;
				margin-bottom: 30px;
			}
		}
		&__input {
			input {
				width: 100%;
				height: 100%;
				background-color: $gray;
				border-radius: 4px;
				padding: 14px 16px;
				font-family: $ff;
				font-size: 15px;
				font-weight: 400;
				line-height: 1.2;
				color: $bl;
				&::placeholder {
					opacity: 1;
					color: #7D7D7D;
				}
			}
		}
		select {
			width: 100%;
			height: 100%;
			background-color: $gray;
			border-radius: 4px;
			padding: 14px 16px;
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			line-height: 1.2;
			color: $bl;
		}
		&__checkbox {
			display: flex;
			position: relative;
			label {
				span {
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
					display: inline-block;
					width: 15px;
					height: 15px;
					border: 1px solid $bl;
					border-radius: 2px;
					background-color: $wh;
					cursor: pointer;
				}
				>i {
					font-family: $ff;
					font-weight: 400;
					font-size: 15px;
					line-height: 1.2;
					color: $bl;
					display: inline-block;
					font-style: normal;
					cursor: pointer;
					margin-left: 13px;
				}
			}
			input {
				width: 15px;
				flex: 0 0 15px;
				height: 15px;
				border: 1px solid $bl;
				border-radius: 2px;
				background-color: $wh;
				opacity: 0;
				margin-right: 0;
				&:checked+label span {
					background: url("../images/check.svg") center no-repeat,  $gray;
					background-size: 70% auto;
					border-color: $red;
				}
			}
		}
	}
	&__btn {
		text-align: center;
		margin-top: 30px;
		.btn {
			background-color: inherit;
		}
	}
}
/*======/send=====*/

/*========Jq-selectbox=======*/
.jq-selectbox {
	width: 100%;
	height: 100%;
	position: relative;
	&:after {
		content: "";
		width: 12px;
		height: 7px;
		background: url("../images/arrow-small.svg") center no-repeat;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 16px;
		z-index: 1;
		transition: all .1s linear;
	}
	&.dropdown {
		&:after {
			transform: translateY(-50%) rotate(180deg);
		}
	}
	&__select {
		width: 100%;
		height: 100%;
		background-color: $gray;
		padding: 14px 16px;
		border-radius: 4px;
		font-family: $ff;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.2;
		cursor: pointer;
	}
	&__dropdown {
		width: 100%;
		background-color: $gray;
		border-radius: 4px;
		li {
			cursor: pointer;
			padding: 14px 16px;
			font-family: $ff;
			font-size: 15px;
			font-weight: 400;
			line-height: 1.2;
			color: $bl;
			transition: all .2s linear;
			border-bottom: 1px solid $lgray;
			&:last-child {
				border-bottom: none;
			}
			&:hover {
				color: $red;
			}
		}
	}
}
/*========/jq-selectbox=======*/
 /*=========Jq-file=====*/
 .jq-file {
 	width: 100%;
 	height: 100%;
 	padding: 14px 16px 14px 40px;
 	background-color: $bl;
 	border-radius: 4px;
 	color: $wh;
 	cursor: pointer;
 	position: relative;
 	&:before {
 		content: "";
 		width: 15px;
 		height: 20px;
 		background: url("../images/paperclip.svg") center no-repeat;
 		background-size: contain;
 		position: absolute;
 		top: 10px;
 		left: 16px;
 		z-index: 1;
 	}
		&__name {
			display: none;
			line-height: 1.2;
		}
		&.changed {
			.jq-file__name {
				display: block;
				line-height: 1.2;
			}
			.jq-file__browse {
				display: none;
			}
		}
	}
	.input-file {
		cursor: pointer;
	}
 /*=========/jq-file=====*/

 /*=======Add=====*/
 .add {
 	&-form {
 		&__row {
 			display: flex;
 			flex-wrap: wrap;
 			margin-left: -30px;
 			>* {
 				width: calc(33.33333% - 30px);
 				margin-left: 30px;
 				margin-bottom: 30px;
 			}
 		}
 		&__item {
 			margin-bottom: 30px;
 		}
 		&__title {
 			font-family: $ff;
 			font-size: 19px;
 			font-weight: 400;
 			line-height: 1.2;
 			margin-bottom: 10px;
 		}
 		&__input {
 			input {
 				width: 100%;
 				height: 100%;
 				background-color: $gray;
 				border-radius: 4px;
 				padding: 14px 16px;
 				font-family: $ff;
				font-size: 15px;
				font-weight: 400;
				line-height: 1.2;
				color: $bl;
				&::placeholder {
					opacity: 1;
					color: #7D7D7D;
				}
 			}
 		}
 		&__textarea {
 			textarea {
 				width: 100%;
 				height: 100%;
 				min-height: 120px;
 				resize: none;
 				background-color: $gray;
 				border-radius: 4px;
 				padding: 14px 16px;
 				font-family: $ff;
				font-size: 15px;
				font-weight: 400;
				line-height: 1.2;
				color: $bl;
				&::placeholder {
					opacity: 1;
					color: #7D7D7D;
				}
 			}
 		}
 		&__description {
 			font-family: $ff;
 			font-size: 15px;
 			font-weight: 400;
 			color: $bl;
 			line-height: 1.5;
 			margin-top: 10px;
 		}
 		&__radiobox {
 			display: flex;
			position: relative;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			label {
				span {
					position: absolute;
					left: 0;
					top: 50%;
					z-index: 1;
					display: inline-block;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					border: 1px solid $bl;
					background-color: $wh;
					cursor: pointer;
					transform: translateY(-50%);
				}
				>i {
					font-family: $ff;
					font-weight: 400;
					font-size: 15px;
					line-height: 1.2;
					color: $bl;
					display: inline-block;
					font-style: normal;
					cursor: pointer;
					margin-left: 13px;
				}
			}
			input {
				width: 16px;
				flex: 0 0 16px;
				height: 16px;
				border: 1px solid $bl;
				border-radius: 2px;
				background-color: $wh;
				opacity: 0;
				margin-right: 0;
				&:checked+label span {
					border-color: $red;
					&:before {
						content: "";
						width: 7px;
						height: 7px;
						border-radius: 50%;
						background-color: $red;
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: 1;
						transform: translate3d(-50%, -50%, 0)
					}
				}
			}
 		}
 		&-captcha {
 			display: flex;
 			margin-bottom: 40px;
 			&__input {
 				margin-right: 30px;
 				min-width: 300px;
 			}
 			&__img {
 				img {
 					display: block;
 					width: 280px;
 					height: 80px;
 				}
 			}
 			&__reload {
 				display: inline-block;
 				margin-top: 10px;
 				font-family: $ff;
 				font-size: 15px;
 				font-weight: 400;
 				color: $lgray;
 				line-height: 1.2;
 				transition: all .2s linear;
 				text-decoration: underline;
 			}
 		}
 		&__agree {
 			max-width: 400px;
 			font-family: $ff;
 			font-size: 15px;
 			font-weight: 400;
 			color: $lgray;
 			line-height: 1.2;
 			margin-top: 20px;
 			a {
 				color: $lgray;
 				text-decoration: underline;
 			}
 		}
 	}
 }
 /*=======/add=====*/

/*========Adaptive======*/
@media(max-width: 1300px) {
	.bookself {
		&__arrow {
			right: -15px;
			transform: translate(0, -50%);
		}
	}
}
@media(max-width: 1200px) {
	.modal {
		&__inner {
			width: 90%;
		}
	}
	.send {
		&-form {
			padding: 30px 0;
		}
	}
	.overview-modal {
		&__inner {
			width: 90%;
		}
	}
	.overview {
		&-box {
			padding: 50px;
			&__title {
				font-size: 25px;
			}
		}
	}
	.article {
		&__inner {
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			&_end {
				.article__social {
					display: none;
				}
			}
		}
		&__content {
			width: 100%;
			padding: 0;
			margin-top: 50px;
		}
		&__data {
			width: 100%;
			.events-box__datatime {
				display: flex;
				justify-content: flex-start;
			}
			.events-box__time {
				font-size: 36px;
				color: $red;
				margin-left: 25px;
			}
		}
		&__social {
			width: auto;
			order: -1;
			.social__description {
				display: none;
			}
		}
		&__autor {
			width: auto;
			order: -1;
		}
		&-box {
			&_head {
				margin-bottom: 0;
			}
		}
	}
	.page {
		&__title {
			padding-bottom: 20px;
			border-bottom: 1px solid $lgray;
		}
		&-nav {
			margin-top: 15px;
			background-color: #F1F1F1;
			padding: 14px 16px 4px;
			&__links {
				display: none;
			}
			&__row {
				flex-direction: column;
				padding-bottom: 0;
				border-bottom: 0;
				margin-bottom: 0;
				&:first-child {
					padding-bottom: 0;
					border-bottom: 0;
					margin-bottom: 0;
				}
			}
			&__title-mobile {
				display: block;
				position: relative;
				margin-bottom: 10px;
				&:after {
					content: "";
					width: 12px;
					height: 7px;
					background: url("../images/arrow-small.svg") center no-repeat;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 16px;
					z-index: 1;
					transition: all .3s linear;
				}
				&.dropdown {
					.page-nav__item {
						color: $red;
					}
					&:after {
						transform: translateY(-50%) rotate(180deg);
					}
				}
			}
			&__item {
				margin-bottom: 10px;
				&.active {
					display: none;
				}
			}
		}
	}
	.pagin {
		&__inner {
			flex-direction: column;
			justify-content: center;
			>* {
				width: 100%;
			}
		}
		&-box {
			margin-top: 30px;
			justify-content: center;
		}
	}
}
@media(max-width: 992px) {
	.breadcrumbs {
		margin-bottom: 45px;
	}
	.article {
		&__title {
			font-size: 30px;
		}
		&__btn {
			margin-bottom: 100px;
		}
		&-header {
			margin-bottom: 40px;
		}
		&-box {
			padding-bottom: 30px;
			margin-bottom: 25px;
			&_head {
				margin-bottom: 0;
			}
			&__data {
				margin-bottom: 10px;
			}
			&__title {
				font-size: 19px;
			}
			&__links {
				margin-top: 15px;
			}
		}
		&-popular {
			&__inner {
				margin-top: 30px;
				>* {
					width: calc(50% - 30px);
				}
			}
		}
	}
	.communication {
		&__title {
			font-size: 30px;
		}
		&__subtitle {
			font-size: 19px;
		}
	}
	.bookshelf-intro {
		&__item {
			padding: 0;
			height: auto;
		}
		&__photo {
			position: static;
			width: 100%;
			height: 450px;
			margin-bottom: 50px;
		}
		&__box {
			width: 100%;
			background-color: $wh;
			padding: 0	
		}
		&__title {
			font-size: 30px;
			margin-bottom: 15px;
		}
		&__description {
			font-size: 19px;
		}
		.slick-dots {
			margin-top: 0;
			position: absolute;
			top: 455px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
		}
	}
	.useful {
		&__inner {
			>* {
				width: calc(33.33333% - 30px);
			}
		}
	}
	.new {
		&__inner {
			>* {
				width: calc(50% - 30px);
			}
		}
	}
}
@media(max-width: 768px) {
	.bookshelf-intro {
		&__photo {
			height: 370px;
		}
		.slick-dots {
			top: 375px;
		}
	}
	.about-person {
		&__title {
			font-size: 30px;
		}
		&__inner {
			margin-top: 50px;
			margin-left: -50px;
			>* {
				width: calc(50% - 50px);
				margin-left: 50px;
			}
		}
	}
	.about-contact {
		&__box {
			flex-direction: column;
			align-items: flex-start;
		}
		&__photo {
			height: 500px;
		}
		&__links {
			margin-top: 30px;
			align-items: flex-start;
		}
	}
}
@media(max-width: 765px) {
	.add {
		&-form {
			&__row {
				margin-left: 0;
				>* {
					width: 100%;
					margin-left: 0;
				}
			}
			&-captcha {
				flex-direction: column;
				&__input {
					margin-right: 0;
					margin-bottom: 30px;
				}
			}
		}
	}
	.modal {
		&__inner {
			padding-top: 15px;
		}
		&__close {
			top: 10px;
		}
		&-box {
			position: relative;
			&:before {
				content: "";
				width: 100%;
				height: 15px;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2000;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
			}
		}
	}
	.send {
		padding: 40px 15px 40px 15px;
		&-form {
			&__inner {
				margin-left: 0;
				>* {
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
	.page {
		&-info {
			&_flex {
				display: block;
				.page__social {
					margin-left: 0;
					margin-top: 10px;
					justify-content: space-between;
				}
			}
		}
	}
	.useful {
		&__inner {
			>* {
				width: calc(50% - 30px);
			}
		}
	}
	.overview {
		.section__header {
			display: flex;
			border-bottom: 1px solid $lgray;
			padding-bottom: 10px;
		}
		.section__title {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		&__row {
			border-bottom: none;
			padding-bottom: 0;
			&-content {
				flex-wrap: wrap;
				margin-left: 0;
				>* {
					width: 100%;
					margin-left: 0;
					margin-bottom: 50px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		&-modal {
			&__inner {
				top: auto;
			}
		}
		&-box {
			padding: 25px 25px 90px 25px;
			&:before {
				content: "";
				width: 100%;
				height: 70px;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2000;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
			}
			&__inner {
				flex-direction: column;
			}
			&__photo {
				margin-bottom: 15px;
				width: 100%;
				text-align: center;
			}
			&__info {
				width: 100%;
				padding-left: 0;
			}
		}
	}
	.want {
		&__inner {
			flex-direction: column;
		}
		&__photo {
			width: 100%;
			margin-bottom: 30px;
		}
		&__info {
			width: 100%;
			padding-left: 0;
		}
	}
	.article {
		&-header {
			flex-direction: column-reverse;
			align-items: flex-start;
			margin-bottom: 20px;
			&__meta {
				margin-left: 0;
				margin-bottom: 15px;
			}
		}
		&-box {
			&_service {
				.article-box__inner {
					flex-direction: column;
				}
				.article-box__photo {
					width: 100%;
					text-align: center;
					img {
						max-width: 380px;
					}
				}
				.article-box__info {
					width: 100%;
				}
			}
			&_reverse {
				.article-box__inner {
					flex-direction: column;
				}
			}
			&__inner {
				margin-left: 0;
				flex-direction: column-reverse;
				>* {
					width: 100%;
					margin-left: 0;
				}
			}
			&__photo {
				margin-bottom: 25px;
			}
		}
		&__data {
			.events-box__data {
				font-size: 30px;
			}
			.events-box__time {
				font-size: 30px;
				color: $red;
			}
			.events-box__place {
				display: block;
			}
		}
		&-raj {
			.social {
				justify-content: flex-start;
			}
		}
		&-about {
			&__slider {
				margin-left: 0;
			}
			&__slide {
				margin-left: 0;
			}
		}
	}
	.network {
		&__inner {
			margin-left: 0;
			flex-direction: column;
			>* {
				width: 100%;
				margin-left: 0;
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.story {
		&__head {
			display: block;
		}
		&__social {
			width: 100%;
			margin-bottom: 50px;
		}
		&__text {
			width: 100%;
			margin-top: 15px;
			padding-left: 0;
		}
		&__box {
			display: block;
			margin-bottom: 30px;
			.story__text {
				display: none;
			}
		}
		&-teller {
			width: 100%;
			&__name {
				position: relative;
				&:after {
					content: "";
					width: 10px;
					height: 10px;
					background: url("../images/arrow-small.svg") center no-repeat;
					position: absolute;
					top: 50%;
					right: 4px;
					transform: translateY(-50%);
					z-index: 1;
					transition: all .3s linear;
				}
			}
			&.dropdown {
				.story-teller__name {
					&:after {
						transform: translateY(-50%) rotate(180deg);
					}
				}
			}
		}
	}
	.bookself {
		.section__title {
			border-bottom: none;
			font-size: 30px;
		}
		.slick-dots {
			overflow: hidden;
			//justify-content: space-between;
		}
		&__block {
			padding-left: 0;
			border-bottom: none;
		}
		&__title {
			transform: rotate(0) translate(0);
			position: static;
			margin-bottom: 25px;
			padding-bottom: 25px;
			border-bottom: 1px solid $lgray;
			font-size: 23px;
		}
		&__slider {
			margin-left: 0;
			&:before {
				display: none;
			}
		}
		&__slide {
			margin-left: 0;
		}
		&__arrow {
			display: none;
		}
		&-box {
			&__name {
				min-height: auto;
				margin-bottom: 15px;
				font-size: 19px;
			}
			&__photo {
				height: auto;
				text-align: center;
				img {
					margin: 0 auto;
					max-width: 400px;
				}
			}
		}
	}
}
@media(max-width: 540px) {
	.bookshelf-intro {
		margin-top: 25px;
		margin-bottom: 30px;
		&__photo {
			height: 250px;
		}
		.slick-dots {
			top: 255px;
		}
	}
	.new {
		&__inner {
			margin-left: 0;
			>* {
				width: 100%;
				margin-left: 0;
			}
		}
	}
	.about-person {
		&__inner {
			margin-left: 0;
			margin-bottom: -50px;
			>* {
				width: 100%;
				margin-left: 0;
				margin-bottom: 50px;
			}
		}
		&__item {
			&_top {
				margin-top: 0;
			}
			&_bottom {
				padding-bottom: 0;
			}
			&:nth-child(3) {
				order: 1;
			}
		}
	}
	.useful {
		&__title {
			font-size: 23px;
			margin-bottom: 20px;
		}
		&__inner {
			margin-left: 0;
			>* {
				width: 100%;
				margin-left: 0;
			}
		}
		&-box {
			&__photo {
				height: 390px;
			}
			&__title {
				font-size: 19px;
			}
		}
	}
	.comments {
		&__none {
			margin-bottom: 30px;
		}
		&-item {
			&_sub {
				padding-left: 20px;
			}
		}
		&-form {
			&__inner {
				margin-left: 0;
				>* {
					width: 100%;
					margin-left: 0;
				}
			}
			&__btn {
				flex: 1 1 100%;
			}
		}
	}
	.filters {
		&__description {
			display: none;
		}
	}
	.page {
		&__title {
			font-size: 30px;
		}
		&-nav {
			margin-bottom: 45px;
		}
		&-info {
			&__links {
				flex-direction: column;
				align-items: flex-start;
			}
			&__more {
				margin-bottom: 17px;
			}
		}
		&__social {
			width: 100%;
			justify-content: space-between;
		}
		&_event {
			.article__content {
				margin-top: 30px;
			}
		}
	}
	.article {
		&__text {
			&_indent {
				padding-left: 18px;
				margin-left: 15px;
			}
		}
		&-box {
			&_head {
				.article-box__title {
					font-size: 30px;
				}
			}
			.links-row {
				a {
					margin-right: 0;
				}
			}
		}
		&-popular {
			&__inner {
				margin-left: 0;
				margin-bottom: 0;
				>* {
					width: 100%;
					margin-left: 0;
					margin-bottom: 28px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.article-box__text {
				display: none;
			}
			.article-box__links {
				display: none;
			}
		}
		&-raj {
			.article__subtitle {
				margin-top: 15px;
			}
		}
	}
	.autor-box {
		&__photo {
			display: none;
		}
		&__title_icon {
			display: flex;
			align-items: center;
			img {
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
	.advertising {
		&__inner {
			margin-left: 0;
			>* {
				width: 100%;
				margin-left: 0;
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.pagin {
		margin-top: -50px;
		.btn {
			width: 100%;
			margin-right: 0;
			&:before {
				background: url("../images/encircle-decor2.svg") center no-repeat;
				background-size: contain;
			}
		}
	}
	.links-row {
		.btn {
			margin-right: 0;
			width: 100%;
			font-size: 14px;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
				background: url("../images/encircle-decor2.svg") center no-repeat;
				background-size: contain;
			}
			&_small, &_medium {
				&:before {
					background: url("../images/encircle-decor2.svg") center no-repeat;
					background-size: contain;
				}
			}
		}
	} 
}
@media(max-width: 414px) {
	.article {
		&__photo {
			margin-bottom: 30px;
		}
		&-box {
			&__text {
				.btn {
					width: 100%;
					font-size: 14px;
					margin-right: 0;
					&:before {
						background: url("../images/encircle-decor2.svg") center no-repeat;
						background-size: contain;
					}
				}
			}
		}
		&-block {
			.btn {
				width: 100%;
				&:before {
					background: url("../images/encircle-decor2.svg") center no-repeat;
    				background-size: contain;
				}
			}
		}
	}
	.about-contact {
		&__photo {
			height: 400px;
		}
	}
	.links-row {
		.btn {
			margin-bottom: 0;
		}
	} 
	.page {
		&__header.section {
			margin-bottom: 50px;
		}
		&_raj, &_person {
			.breadcrumbs {
				margin-bottom: 20px;
			}
		}
	}
	.overview {
		.section__header {
			position: relative;
		}
	}
	.data-nav {
		&__box {
			padding: 0 10px 5px;
			position: static;
		}
		&__dropdown {
			width: calc(100% + 30px);
			top: 95%;
			left: -15px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
			max-height: none;
		}
	}
	.advertising {
		&__inner {
			margin-left: 0;
			>* {
				width: 100%;
				margin-left: 0;
			}
		}
		.service-box__photo {
			display: block;
		}
		.service-box__description {
			display: block;
		}
	}
	.bookshelf-intro {
		&__photo {
			height: 190px;
		}
		.slick-dots {
			top: 195px;
		}
	}
}
@media(max-width: 375px) {
	.article {
		&__subtitle {
			font-size: 19px;
		}
		&-raj {
			.article__title {
				font-size: 23px;
			}
		}
	}
	.filters {
		&__item {
			margin-right: 15px;
			span {
				font-size: 12px;
			}
		}
	}
}
@media(max-width: 320px) {
	.article {
		&-about {
			.slick-dots {
				button {
					width: 90px;
				}
			}
		}
	}
}
/*========/adaptive======*/